# intellij files
/.idea
*.iml

# next.js files
/frontend/.next/

# npm
/frontend/node_modules/

# environment variables
backend/.env
frontend/.env.production

# development mode
/backend/certificates/
/frontend/certificates/

# byproducts generated
*.exe
*.log
